**.pyc
.idea/
.vscode/
.venv/
.pytest_cache/
.coverage
unit_test_coverage/
.mypy_cache/
venv
*.egg-info
*venv*
.tox/
dist/
build/
%LOCALAPPDATA%
s2-python/src/s2python/specification/s2-pairing/s2-over-ip-pairing.yaml
